:root {--palette-light: #fcfcfc;--palette-mid: #fbfbfb;--palette-dark: #f8f8f8;--font-color:#939393;--font-color-dark:#727272;--contrast-color:#529ac1;--contrast-color-mid:#004b74;--contrast-color-dark:#16232e;}
*{box-sizing: border-box;}
a{text-decoration:none;}
p{color:var(--font-color);}
body{font-size: 1rem;font-weight:400;font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;margin:0px;}
.allTrans{transition: all 1.5s ease 0;-webkit-transition: all 1.5s ease;-moz-transition: all 1.5s ease;-ms-transition: all 1.5s ease;-o-transition: all 1.5s ease;}
.in-view{transition: width 1.4s ease-in-out .5s;}

/*[GRID STYLES]*/
.grid{display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-flow: row wrap;-ms-flex-flow: row wrap;flex-flow: row wrap;}
.xs-12{-webkit-flex: 0 0 auto;-ms-flex: 0 0 auto;flex: 0 0 auto;width: calc(99.999999% * 1);}

/*[NAVIGATION STYLES]*/
nav{background:var(--contrast-color-dark);color:#000;position:fixed;display:none;}
nav ul{display:block;list-style:none;padding:0px;margin:0px;position: sticky;top:0;}
nav ul li{width:90px;text-align:center;font-size:1.1rem;border-top:1px solid #164457;padding:1.2rem 0;}
nav ul li.active{background:var(--palette-light);}
nav ul li a{display:block;}
nav ul li a *{pointer-events: none;}
nav ul li.active a span{margin-top:5px;color:var(--contrast-color-mid);-webkit-transform: translateX(0px);transform: translateX(0px);}
nav ul li.active a i.fas{background: var(--contrast-color-dark);color:#fff;}
nav ul li:last-child{border-bottom:1px solid #164457;}
nav ul li a i.fas{color:var(--contrast-color-dark);background:var(--palette-dark);line-height:2.4rem;width:2.6rem;border-radius:5px;border:2px solid #164457;}
nav ul li a span{display:block;font-size:.6rem;font-weight:bold;display: block;-webkit-transform: translateX(-200px);transform: translateX(-200px);-webkit-transition: 0.1s;transition: 0.1s;text-transform:uppercase;padding-top:5px;}
nav:hover ul li a span{color:var(--font-color);-webkit-transform: translateX(0px);transform: translateX(0px);}
/*[NAVIGATION STYLES END]*/
/*[HEADER STYLES]*/
main header#home{display:block;height:100vh;width:100%;background-image: url(/assets/home-bg.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;display:flex;align-items: center;}
main header .text-wrapper{display:block;position:relative;margin:0 auto;padding:50px;background-color:rgba(0,0,0,.5);font-size:2rem;border-radius:5px;}
main header .text-wrapper h1{color:var(--palette-mid); margin:0px;}
main header .text-wrapper h1 span{display:block;text-transform:uppercase;color:var(--contrast-color);margin-top:-10px;}
main header .text-wrapper > span{font-size:2rem;color:var(--palette-dark)}
/*[HEADER STYLES END]*/
/*[SECTION STYLES]*/
main section .container{position: relative;max-width:1280px; margin: 0 auto;}
main section .container header{text-align:left;padding: 1.5rem;background:var(--palette-dark);border-top: 1px solid #ececec;border-bottom: 1px solid #ececec;}
main section .container header:before{content:"";display:block;position:absolute;left:-50%;top:0%;width:50%;height:100%;background:inherit;z-index:0;}
main section .container header h2{display:inline-block;margin:0rem 0rem .5rem 0rem;background:var(--contrast-color);font-size:1rem;font-weight:bold;color:#fff;text-transform:uppercase;padding:7px 10px;border:2px solid #ddd;border-radius:3px;}
main section .container header p{margin:0px;font-size:.8rem;clear:both;}
main section .container .contentWraper{width:70%;padding:1.6rem;display: block;position: relative;}
main section .container .contentWraper,main section .container header{width:100%;}

#who .container{align-items:stretch;}
#who .container header{min-height:50vh;height:auto;display:flex;align-items: center;}
#who .container header .profileImg{margin:0 auto;display:block;border-radius:50%; background:#000;overflow: hidden;}
#who .container header .profileImg img{width:100%;}
#who .container .contentWraper > p{font-size:1.15rem;}
#who .container .contentWraper footer{left:0%;bottom:25px;width:100%;}
#who .container .contentWraper footer .column{-webkit-flex: 0 0 auto;-ms-flex: 0 0 auto;flex: 0 0 auto;width: calc(99.999999% * 0.5);border-top:2px solid #ececec;}
#who .container .contentWraper footer .column.email{flex:1.5;}
#who .container .contentWraper footer .column a{color:var(--font-color);margin-top:16px;}
#who .container .contentWraper footer .column.email a{display:block;} 
#who .container .contentWraper footer .column.social a{display:inline-block;font-size:1.2rem;margin-right:7px;} 
#who .container .contentWraper footer .column h4{margin-bottom:0;}
#who .container .contentWraper footer hr{display:block;width:100%;clear:both;border:2px solid #ececec;}

#knowledge .container .contentWraper{display:flex;flex-flow:row wrap;position:relative;}
#knowledge .container .contentWraper .box{padding-right:1rem;margin-bottom:25px;}
#knowledge .container .contentWraper .area{text-transform:uppercase;}
#knowledge .container .contentWraper .area p{font-weight:bold; font-size:1.05rem;color:var(--font-color-dark);}
#knowledge .container .contentWraper .area p span{padding-right:7px;color:var(--contrast-color-mid);}
#knowledge .container .contentWraper .range{display:block;height:5px;width:100%;background:#ececec;}
#knowledge .container .contentWraper .range .progress{width:0%;height:100%;background:var(--contrast-color-mid);}

#exp .container .contentWraper article{display:flex;position:relative; padding:0 0 3rem 1.5rem;border-left:2px solid #ececec;}
#exp .container .contentWraper article:before{content:"";width:10px;height:10px;position:absolute;left:-10px;top:0%;background:var(--contrast-color-mid);border:5px solid #fff;border-radius:50%;}
#exp .container .contentWraper article p{font-size:.6rem;}
#exp .container .contentWraper article p:first-child{margin:5px;}
#exp .container .contentWraper article h4{color:var(--contrast-color-mid);}
#exp .container .contentWraper article h3{margin:7px 0px 0px 0px;}
#exp .container .contentWraper article h4{margin:0px;}
#exp .container .contentWraper article .jobLocation, #exp .container .contentWraper article .jobDescription{padding-right:3rem;}

#me  .container header{background-color:var(--palette-dark);}

/*[SECTION STYLES END]*/


/*********** [MEDIA QUERIES] ***********/
@media screen and (min-width: 480px) {
    
    #knowledge .container .contentWraper .box{-webkit-flex: 0 0 auto;-ms-flex: 0 0 auto;flex: 0 0 auto;width: calc(99.999999% * 0.5);}
    .sm-5{-webkit-flex: 0 0 auto;-ms-flex: 0 0 auto;flex: 0 0 auto;width: calc(99.999999% * 0.41667);}
    .sm-7{-webkit-flex: 0 0 auto;-ms-flex: 0 0 auto;flex: 0 0 auto;width:calc(99.999999% * 0.58333);}
}
@media screen and (min-width: 600px) {
    #who .container .contentWraper footer .colum{width:50%;}
}
@media screen and (min-width: 768px) {
    #who .container .contentWraper{padding-bottom:150px;}
    #who .container .contentWraper footer{position: absolute;padding: 0 1.6rem;}
    #who .container .contentWraper footer .column{flex:1;}
}

@media screen and (min-width: 1024px) {
    .page-wrapper{display:flex;}
    main{flex:1;}
    nav{position:relative;display:block;flex-basis:90px;z-index:1;}

    main section .container header{width:30%;padding: 2.5rem;}
    main section .container header h2{float:right;}
    main section .container header *{text-align:right;}
    main section .container{display: flex;}
    main section .container .contentWraper{width:70%;padding:2.5rem;}

    #who .container header{background-color:var(--palette-mid);}
    #who .container .contentWraper footer{padding:0 2.5rem;}

    #knowledge .container header{background-color:var(--palette-dark);}
    #knowledge .container .contentWraper{background-color:var(--palette-mid);}

    #exp .container header{background-color:var(--palette-mid);}
    
}

@media screen and (min-width: 1200px) {
    main section .container header{padding: 4.5rem;}
    main section .container .contentWraper{padding:4.5rem;}
    #who .container .contentWraper footer{padding:0 4.5rem;}
}

@media screen and (min-width: 1600px) {

}

